<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Permanent+Marker&family=Work+Sans:wght@300&display=swap');


</style>


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-image: url(bg.jpg);
	background-repeat: repeat;
}

.encabezado{
	height: 350px;
	margin: 0 80px;
	margin-top: 150px;
	background: rgba(255, 255, 255, .8);
	border-radius: 5px;
}

.encabezado h1{
	background-color: #673ab7;
	font-family: 'Sacramento', cursive;
	font-size: 80px;
	margin: 30px auto 0px;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	position: sticky;
	top: 0;
}

.encabezado p{
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 300px;
	padding: 40px 220px 20px 200px;
	margin-top: 30px;
	color: black;
	text-shadow: black 0.1em 0.09em 0.2em;
	vertical-align: text-top;
	text-align: center;
}

#vegetariano{
	font-weight: bold;
	color: #ec407a;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#vegano{
	font-weight: bold;
	color: #7cb342;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#alergenos{
	font-style: italic;
	color: blue;
}

#negrita{
	font-weight: bold;
}

.imagPlato{
	width: 155px;
	height: 155px;
	border-radius: 5px;
	box-shadow: 1px 5px 25px rgba(0,0,0,0.3);
	object-fit: cover;
}

h2{
	font-family: 'Sacramento', cursive;
	font-size: 65px;
	margin: 30px auto 8px;
	text-align: center;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	background-color: pink;
	background: rgba(210, 214, 255, .8);
	position: sticky;
	top: 0;
	
}

#entrante, #ensalada, #primerPlato, #segundoPlato, #pizzasHamb, #postres{
	width: 650px;
	margin: 30px 0px 0px 70px;
	display: inline-block;
	background: rgba(255, 255, 255, .8);
	border-radius: 5px;
	box-shadow: 1px 5px 25px rgba(0,0,0,0.3);
}

h3{
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	margin-left: 30px;
	margin-top: 20px;
}	

.imagPlato{
	float: left;
	margin: 0.5px 30px 30px 30px;

}

.contenido p{
	font-family: 'Mitr', sans-serif;
	font-size: 20px;
	margin: 20px 30px 0px 0px;
	overflow: auto;
}

.platoPrecio{
	position: relative;
	float: right;
	margin-right: 30px;
}

h3 span{
	vertical-align: middle;
}

.sticker{
	width: 115px;
	height: 95px;
	position: fixed;
	left: 90%;
	top: 80%;
	z-index: 10;
}
